body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 800px;
  margin: 30px;
  overflow: auto;
  min-height: 300px;
  border: 1px solid  #7061fb;
  padding: 30px;
  border-radius: 5px; 
}

.btn {
  background-color: #7061fb;
  display: inline-block;
  color: white;
  border:none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
